{{ 'featured-products.min.css' | asset_url | stylesheet_tag }}

{% assign section_id = section.id %}
{% assign collection = section.settings.collection %}
{% assign title = section.settings.title %}
{% assign products_per_show = section.settings.products_per_show %}
{% assign products_in_cart = '' %}
{% assign index = 1 %}

{% for item in cart.items %}
    {% if forloop.first %}
        {% assign products_in_cart = item.product_id %}
    {% else %}
        {% assign products_in_cart = products_in_cart | append: ',' | append: item.product_id %}
    {% endif %}
{% endfor %}
{% assign products_in_cart = products_in_cart | split: ',' %}

{% if collection != blank and collection.products.size > 0 %}
    <div class="page-width">
        {% if title != blank %}
            <h2 class="featured-products__title">{{ title }}</h2>
        {% endif %}

        <div class="featured-products__inner">
            {% for product in collection.products %}
                {% if index <= products_per_show %}
                    {% assign product_id = product.id | append: '' %}
                    {% unless products_in_cart contains product_id %}
                        {% assign index = index | plus: 1 %}
                        {% render 'featured-products-product-card', product: product, section_id: section_id %}
                    {% endunless %}
                {% else %}
                    {% break %}
                {% endif %}
            {% endfor %}
            <div class="loader">
              <svg
                aria-hidden="true"
                focusable="false"
                class="loader-spinner"
                viewBox="0 0 66 66"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
        </div>
    </div>
{% endif %}
<style>
    #shopify-section-{{section.id}} {
        padding-top: {{ section.settings.mobile_top_space }}px;
        padding-bottom: {{ section.settings.mobile_bottom_space }}px;
    }

    @media only screen and (min-width: 1024px){
        #shopify-section-{{section.id}} {
            padding-top: {{ section.settings.top_space }}px;
            padding-bottom: {{ section.settings.bottom_space }}px;
        }
    }
</style>

{% schema %}
{
  "name": "Featured Products",
  "tag": "section",
  "class": "section featured-products",
  "settings": [
    {
        "type": "text",
        "id": "title",
        "label": "Title"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "products_per_show",
      "min": 1,
      "max": 10,
      "step": 1,
      "label": "Products per show",
      "default": 4
    },
    {
        "type": "header",
        "content": "Section Spaces"
      },
    {
        "type": "range",
        "id": "top_space",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Section top padding",
        "default": 0
      }, 
      {
        "type": "range",
        "id": "bottom_space",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Section bottom padding",
        "default": 0
      },
      {
        "type": "range",
        "id": "mobile_top_space",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Section mobile top padding",
        "default": 30
      }, 
      {
        "type": "range",
        "id": "mobile_bottom_space",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Section mobile bottom padding",
        "default": 30
      }
  ],
  "presets": [
    {
      "name": "Featured Products"
    }
  ]
}
{% endschema %}